<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
  <form method="POST" action="/forget">
    <table>
        <h3>Reset Password</h3>
        <tr>
        	<td>
        		username: <input type="text" name="username">
        	</td>
        </tr>	

        <tr>
        	<td>
        		password: <input type="password" name="password">
        	</td>

        </tr>	
        <tr>
        	<td>
        	   <input type="submit" name="submit">	
        	</td>
        </tr>

  	</table>
  </form>
</body>
</html>


